<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="title">Events</ui:define>
	<ui:define name="content">

		<h:form>
			<h1>Delete Event</h1>
			<h:panelGrid columns="2">
				<h:outputText value="Name" />
				<h:inputText value="#{eventManagementBean.event.name}" />
				<h:outputText value="Description" />
				<h:inputText value="#{eventManagementBean.event.description}" />
			</h:panelGrid>




			


			<h:commandButton action="#{eventManagementBean.doDeleteEvent()}"
				value="Delete" />

		</h:form>

	</ui:define>
</ui:composition>