<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
>
	<ui:define name="title">Sentimental Chart</ui:define>
	<ui:define name="stylesheets">
		<h:outputStylesheet library="css">
	    #chartdiv {
		  width: 100%;
		  height: 500px;
		}
	    </h:outputStylesheet>
		<h:outputStylesheet library="css" name="export.css" />
	</ui:define>
	<ui:define name="scripts">
		<h:outputScript library="js" name="amcharts.js" />
		<h:outputScript library="js" name="serial.js" />
		<h:outputScript library="js" value="export.min.js" />
		<h:outputScript library="js" name="light.js" />
		<h:outputScript>
		var analysis = [
  <ui:repeat value="#{wordBean.doChart()}" var="a" varStatus="loop">
    #{a}#{loop.last ? '' : ','}
  </ui:repeat>
];
		var pos= analysis[0].toFixed(3);
		var neg= analysis[1].toFixed(3);
		var neu= analysis[2].toFixed(3);
		var total = analysis[3];   
		var chart = AmCharts.makeChart("chartdiv", {
    "theme": "light",
    "type": "serial",
    "dataProvider": [{
        "country": "#{wordBean.witnesscard.name}",
        "year2004": pos,
        "year2005": neg,
		"year2006": neu
    }],
    "valueAxes": [{
        "stackType": "3d",
        "unit": "%",
        "position": "left",
        "title": "percentage word analysis",
    }],
    "startDuration": 1,
    "graphs": [{
        "balloonText": "Positif aspect [[category]] : <b>[[value]]%</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "2004",
        "type": "column",
        "valueField": "year2004"
    }, {
        "balloonText": "Negatif aspect [[category]] : <b>[[value]]%</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "2005",
        "type": "column",
        "valueField": "year2005"
    }, {
        "balloonText": "Neutral aspect [[category]] : <b>[[value]]%</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "2005",
        "type": "column",
        "valueField": "year2006"
    }],
    "plotAreaFillAlphas": 0.1,
    "depth3D": 60,
    "angle": 30,
    "categoryField": "country",
    "categoryAxis": {
        "gridPosition": "start"
    },
    "export": {
    	"enabled": true
     }
});
jQuery('.chart-input').off().on('input change',function() {
	var property	= jQuery(this).data('property');
	var target		= chart;
	chart.startDuration = 0;

	if ( property == 'topRadius') {
		target = chart.graphs[0];
      	if ( this.value == 0 ) {
          this.value = undefined;
      	}
	}

	target[property] = this.value;
	chart.validateNow();
});		</h:outputScript>
	</ui:define>
	<ui:define name="content">
		<div id="chartdiv"></div>
		<h:form>
			<h:commandButton action="#{wordBean.doRedirectToPay()}"
				value="Pay to get report"
			/>
		</h:form>

	</ui:define>


</ui:composition>