<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">List Witnesscards</ui:define>
	<ui:define name="content">
		<h:form>
			<ui:repeat var="p" value="#{eventManagementBean.witnesscards}">

				<div class="row">
					<div class="col s12 m7">
						<div class="card">
							<div class="card-image">
								<h:graphicImage value="/content/#{p.picture}" />
								<span class="card-title" style="background-color: red">#{p.name}</span>
							</div>

							<div class="card-action">
								<h:commandLink action="#{eventManagementBean.goToAddEvent(p)}"
									value="Add event">
								</h:commandLink>

								<h:commandLink
									action="#{eventManagementBean.goToUpdateWitnesscard(p)}"
									value="Edit WitnessCard" />
							</div>
						</div>
					</div>
				</div>

			</ui:repeat>
		</h:form>
	</ui:define>


</ui:composition>










