<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">List Events</ui:define>
	<ui:define name="content">
		<h:form>
			<ui:repeat var="e" value="#{eventManagementBean.events}">

				<div class="row">
					<div class="col s12 m7">
						<div class="card">
							<div class="card-image">
								<h:graphicImage value="/content/#{e.picture}" />
								<span class="card-title" style="background-color: red">#{e.name}</span>
							</div>
							<div class="card-content">
								<p>#{e.description}</p>
								<p style="color: red">Date From : #{e.dateFrom}</p>
								<p style="color: red"> Date To: #{e.dateTo}</p>
							</div>
							<div class="card-action">
								<h:commandLink
									action="#{eventManagementBean.goToUpdateEvent(e)}"
									value="  Update event " />
								<h:commandLink
									action="#{eventManagementBean.goToDeleteEvent(e)}"
									value="Delete event" />
							</div>
						</div>
					</div>
				</div>

			</ui:repeat>
		</h:form>
	</ui:define>


</ui:composition>
