<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">My witness cards</ui:define>
	<ui:define name="content">
		
		<div class="row manage-content">
			<h:form>
				<h:inputText style="display:none" styleClass="dataImageUrl" value="#{agentServicesBean.pageDataAsImageUrl}" />
				<h:commandButton rendered="#{agentServicesBean.currentCard.isPayed}" styleClass="waves-effect waves-light btn" style="padding-left: 10px; padding-right:10px;" action="#{agentServicesBean.sendStatisticsByEmail()}" value="Send by mail" >
				</h:commandButton><br />
				<a style="padding-left: 10px; padding-right:10px;margin-top:10px;"  class="waves-effect waves-light btn" href="/eyewitness-web/pages/secure/agent/Graphe.jsf?id=#{agentServicesBean.currentCard.id}">Sentimental analysis</a><br />
				<h:commandLink action="#{eventManagementBean.goToAddEvent(agentServicesBean.currentCard)}" value="Add event" styleClass="waves-effect waves-light btn" style="padding-left: 10px; padding-right:10px;margin-top:10px;"></h:commandLink><br />
				<h:commandLink action="#{eventManagementBean.goToUpdateWitnesscard(agentServicesBean.currentCard)}" value="Edit WitnessCard" styleClass="waves-effect waves-light btn" style="padding-left: 10px; padding-right:10px;margin-top:10px;"/>
			</h:form>
			<!-- <h:commandLink action="#{eventManagementBean.goToAddEvent(p)}"
									value="Add event">
								</h:commandLink>

								<h:commandLink
									action="#{eventManagementBean.goToUpdateWitnesscard(p)}"
									value="Edit WitnessCard" /> -->
			<div class="col s3">
				<ui:repeat var="c" value="#{userServicesBean.currentUser.witnessCardManaged}">
					<div class="card valign-wrapper">
						<span>#{c.name}</span>
						<h:form> <h:commandLink action="#{agentServicesBean.showWitnessCard()}" value="Details"> 
							<f:setPropertyActionListener value="#{c}" target="#{agentServicesBean.currentCard}"></f:setPropertyActionListener>
						</h:commandLink></h:form>
					</div>
				</ui:repeat>
			</div>
			<div class="col s9" id="card-data">
				<div class="card">
					<h3 class="center">#{agentServicesBean.currentCard.name}</h3>
					<h4>Informations :</h4>
					<ul class="collection">
				      <li class="collection-item row"><span class="col s3">Name </span><span class="valign-wrapper"><i class="material-icons">chevron_right</i>#{agentServicesBean.currentCard.name}</span></li>
				      <li class="collection-item row"><span class="col s3">Address </span><span class="valign-wrapper"><i class="material-icons">chevron_right</i>#{agentServicesBean.currentCard.address}</span></li>
				      <li class="collection-item row"><span class="col s3">Category </span><span class="valign-wrapper"><i class="material-icons">chevron_right</i>#{agentServicesBean.currentCard.category.name}</span></li>
				      <li class="collection-item row"><span class="col s3">Creator </span><span class="valign-wrapper"><i class="material-icons">chevron_right</i>#{agentServicesBean.currentCard.creator.fullName}</span></li>
				      <li class="collection-item row"><span class="col s3">Description </span><span class="col s12 valign-wrapper"><p>#{agentServicesBean.currentCard.description}</p></span></li>
				    </ul>
					<h4>Events :</h4>
					<ul class="collection">
						<ui:repeat var="e" value="#{agentServicesBean.currentCard.events}">
							<li class="collection-item">#{e.name}</li>
						</ui:repeat>
					</ul>
					<h4>Statistics :</h4>
					<h:panelGroup rendered="#{agentServicesBean.currentCard.isPayed}">
						<p:chart widgetVar="chart" type="line" model="#{agentServicesBean.numberOfSubscribersByDateChart}" style="height:400px;margin-bottom:30px"/>
						<p:chart type="bar" model="#{agentServicesBean.numberOfVisitorsByDateChart}" style="height:300px;margin-bottom:30px"/>
						<p:chart type="bar" model="#{agentServicesBean.ratingsChart}" style="height:300px;margin-bottom:30px"/>
					</h:panelGroup>
				</div>
			</div>	
		</div>
	
	</ui:define>
	<ui:define name="stylesheets">
		<h:outputStylesheet library="css" name="manage.css"></h:outputStylesheet>
	</ui:define>
	<ui:define name="scripts">
		<h:outputScript library="js" name="html2canvas.js"></h:outputScript>
		<h:outputScript>
			$(document).ready(function() {
				html2canvas(document.getElementById('card-data'), {
					onrendered: function(canvas) {
						$('.dataImageUrl').val(canvas.toDataURL());
					}
				});
			});
		</h:outputScript>
		<!--<h:outputScript>
			PF('chart').exportAsImage();
		</h:outputScript>-->
	</ui:define>
</ui:composition>