<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Home page</ui:define>
	<ui:define name="content">
	<h:form id="Payment">
	<h3>Payment to get #{wordBean.witnesscard.name} Witness Card report</h3>
			<h:form rendered="#{wordBean.displayPayError}"> <h2 align="center" > Check you Account </h2> </h:form>
			<h:panelGrid>
				<h:outputText value="Code" />
				<h:inputText value="#{wordBean.codeClient}" required="true" />
				<h:outputText value="CCV" />
				<h:inputText value="#{wordBean.cvvClient}" required="true" />
				<h:commandButton action="#{wordBean.doPayForReport()}"
					value="Validate" />
				<h:commandButton value="Reset" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>