<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="title">Update Event</ui:define>
	<ui:define name="content">

		<h:form>
			<h1>Update Event</h1>
			<h:panelGrid columns="2">
				<h:outputText value="Name" />
				<h:inputText value="#{eventManagementBean.event.name}" />
				<h:outputText value="Description" />
				<h:inputText value="#{eventManagementBean.event.description}" />
			</h:panelGrid>




			<p:growl id="msgs" showDetail="true" />

			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel for="datetime" value="Date From:" />
				<p:calendar id="datetime"
					value="#{eventManagementBean.event.dateFrom}"
					pattern="MM/dd/yyyy HH:mm:ss" />
			</h:panelGrid>

			<p:dialog modal="true" resizable="false" header="Values"
				widgetVar="dlg" showEffect="fold">
				<p:panelGrid id="display" columns="2" columnClasses="label,value">
					<h:outputText value="Datetime:" />
					<h:outputText value="#{eventManagementBean.event.dateFrom}">
						<f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
					</h:outputText>
				</p:panelGrid>
			</p:dialog>


			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel for="datetimeTo" value="Date To:  " />
				<p:calendar id="datetimeTo"
					value="#{eventManagementBean.event.dateTo}"
					pattern="MM/dd/yyyy HH:mm:ss" />
			</h:panelGrid>

			<p:dialog modal="true" resizable="false" header="Values"
				widgetVar="dlg" showEffect="fold">
				<p:panelGrid id="displayTo" columns="2" columnClasses="label,value">
					<h:outputText value="Datetime:" />
					<h:outputText value="#{eventManagementBean.event.dateTo}">
						<f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
					</h:outputText>
				</p:panelGrid>
			</p:dialog>


			<h:commandButton action="#{eventManagementBean.doUpdateEvent()}"
				value="Update" />

		</h:form>

	</ui:define>
</ui:composition>

