<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/public/forum/template.xhtml">

	<ui:define name="forumContent">
		<div class="container forum-content">
			<div class="row">
				<div class="col s9">
					<nav class="forum-search">
						<div class="nav-wrapper">
							<form>
								<div class="input-field">
									<input id="search" type="search" required="true"
										placeholder="Search in forum..."></input> <label for="search">
										<i class="material-icons">search</i>
									</label> <i class="material-icons">close</i>
								</div>
							</form>
						</div>
					</nav>
					<div class="card hot-topics">
						<div class="forum-card-content">
							<ul class="collection">
								<li class="collection-item forum-card-header valign-wrapper">
									<i class="material-icons red-text text-lighten-2 valign">whatshot</i>
									<span class="valign">Hot Topics</span>
									<p>The top posts in our forum</p>
								</li>
								<ui:repeat var="topic" value="#{forumServicesBean.hotTopics}">
									<li class="collection-item avatar">
										<h:panelGroup rendered="#{topic.state eq 'SOLVED'}">
											<i class="material-icons circle green tooltipped" data-position="top" data-delay="50" data-tooltip="Solved">check</i>
										</h:panelGroup>
										<h:panelGroup rendered="#{topic.state eq 'LOCKED'}">
											<i class="material-icons circle red tooltipped" data-position="top" data-delay="50" data-tooltip="Locked">lock</i>
										</h:panelGroup>
										<h:panelGroup rendered="#{topic.state eq 'ONGOING'}">
											<i class="material-icons circle gray tooltipped" data-position="top" data-delay="50" data-tooltip="Ongoing">more_horiz</i>
										</h:panelGroup>
										
										<span class="title">
											<h:link value="#{topic.title}" outcome="topic">
							                    <f:param name="id" value="#{topic.id}" />
							                </h:link> 
										</span>
										<p>
											<i class="material-icons">mode_edit</i>
											Started by #{topic.creator.fullName}, 
											<h:outputText value="#{topic.creationDate}">
												<f:convertDateTime pattern="dd MMM. yyyy 'at' hh:mm a"/>
											</h:outputText>
										</p>
										<div class="forum-topic-creator-info">
											<div class="forum-topic-info">
												<div class="row">
													<i class="material-icons">message</i>#{topic.forumMessages.size()} Messages
												</div>
												<div class="row">
													<i class="material-icons">access_time</i>Last message by #{topic.forumMessages.get(topic.forumMessages.size() - 1).author.fullName}
												</div>
											</div>
											<div class="forum-creator-info">
												<h:graphicImage value="#{topic.creator.avatar}" />
												<div class="">
													<div class="truncate" style="max-width: 140px">#{topic.creator.fullName}</div>
													<div class="">
														<h:outputText value="#{topic.creationDate}">
															<f:convertDateTime pattern="dd MMM. yyyy"/>
														</h:outputText>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ui:repeat>
							</ul>
						</div>
					</div>
					<ui:repeat value="#{forumServicesBean.sections}" var="section">
					<div class="card">
						<div class="forum-card-content">
							<ul class="collection">
								
								<li class="collection-item forum-card-header valign-wrapper">
									<i class="material-icons grey-text text-lighten-1 valign">#{section.icon}</i>
									<span class="valign">#{section.title}</span>
									<p>#{section.description}</p>
								</li>
								<ui:repeat value="#{section.forumSubjects}" var="subject">
								
								<li class="collection-item avatar">
									<h:panelGroup rendered="#{subject.hasNew}">
										<i class="material-icons circle amber amber-darken-2 tooltipped" data-position="top" data-delay="50" data-tooltip="New !">
											notifications_active
										</i>
									</h:panelGroup>
									<h:panelGroup rendered="#{not subject.hasNew}">
										<i class="material-icons circle grey tooltipped" data-position="top" data-delay="50" data-tooltip="Nothing new">
											notifications_none
										</i>
									</h:panelGroup>
									
									<span class="title">
										<h:link value="#{subject.title}" outcome="subject">
						                    <f:param name="id" value="#{subject.id}" />
						                </h:link>
									</span>
									<p>
										<i class="material-icons">info_outline</i>#{subject.description}
									</p>
									<div class="forum-topic-creator-info">
										<div class="forum-topic-info">
											<div class="row">
												<i class="material-icons">refresh</i>#{subject.forumTopics.size()} Topics
											</div>
											<div class="row">
												<i class="material-icons">message</i>#{forumServicesBean.doFindNumberOfMessagesBySubject(subject)} Messages in total
											</div>
										</div>

										<div class="forum-creator-info" style="max-width: 295px;">
											<h:panelGroup rendered="#{subject.forumTopics.size() != 0}">
												<h:graphicImage value="#{forumServicesBean.doFindLatestTopicBySubject(subject).creator.avatar}" />
											</h:panelGroup>
											<h:panelGroup rendered="#{subject.forumTopics.size() == 0}">
												<h:graphicImage value="/resources/img/x.jpg" />
											</h:panelGroup>
											
											<div class="">
												<div class="truncate" style="max-width: 215px;">#{ subject.forumTopics.size() == 0 ? 'No topics' : forumServicesBean.doFindLatestTopicBySubject(subject).title }</div>
												<h:panelGroup rendered="#{subject.forumTopics.size() != 0}">
													<div class="">
														<h:outputText value="#{forumServicesBean.doFindLatestTopicBySubject(subject).creationDate}" >
															<f:convertDateTime pattern="dd MMM. yyyy" />
														</h:outputText>  
														By #{forumServicesBean.doFindLatestTopicBySubject(subject).creator.fullName}
													</div>
												</h:panelGroup>
												<h:panelGroup rendered="#{subject.forumTopics.size() == 0}">
													<div class=""></div>
												</h:panelGroup>
											</div>
										</div>
									</div></li>
									
								</ui:repeat>
							</ul>
							
						</div>
					</div>
				
					</ui:repeat>
				</div>
				<!-- END COL -->
				<div class="col s3 card" style="margin-top: 0px">
					<h1>Charts</h1>
				</div>
			</div>
			<!-- END ROW -->
		</div>
		<!-- END CONTAINER -->


	</ui:define>

</ui:composition>