<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/public/forum/template.xhtml"
>
	<f:metadata>
		<f:viewParam name="id" value="#{forumSubjectServicesBean.subjectId}" />
		<f:viewAction action="#{forumSubjectServicesBean.init}" />
	</f:metadata>
	
	<ui:define name="forumContent">
		<div class="fixed-action-btn tooltipped" data-position="top" data-delay="50" data-tooltip="Create a topic">
		    <h:link outcome="/pages/secure/user/forum/createTopic" styleClass="btn-floating btn-large teal">
		      	<i class="large material-icons">add</i>
		      	<f:param name="subjectId" value="#{forumSubjectServicesBean.currentSubject.id}"></f:param>
		    </h:link>
	 	</div>
		<div class="container forum-content">
			<div class="row">
				<nav class="nav-extended subject-forum-title-nav">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo">#{forumSubjectServicesBean.currentSubject.title}</a>
						<ul class="right">
							<li><h:form>
									<h:commandLink
										styleClass="waves-effect waves-light btn login-btn"
										action="#{forumSubjectServicesBean.followCurrentSubject()}"
										value="Follow"
									/>
								</h:form></li>
						</ul>
						<ul class="tabs tabs-transparent tabs-fixed-width">
							<li class="tab disabled"><a href="#">Order by : </a></li>
							<li class="tab"><a href="#tab1">Recently updated</a></li>
							<li class="tab"><a href="#tab2">Recent replies</a></li>
							<li class="tab"><a href="#tab3">Most replies</a></li>
						</ul>
					</div>
				</nav>
				
				<div class="card">
					<div class="forum-card-content">
						<ul class="collection">
							<ui:repeat var="topic"
								value="#{forumSubjectServicesBean.currentSubject.forumTopics}"
							>
								<li class="collection-item avatar"><h:panelGroup
										rendered="#{topic.state eq 'SOLVED'}"
									>
										<i class="material-icons circle green tooltipped"
											data-position="top" data-delay="50" data-tooltip="Solved"
										>check</i>
									</h:panelGroup> <h:panelGroup rendered="#{topic.state eq 'LOCKED'}">
										<i class="material-icons circle red tooltipped"
											data-position="top" data-delay="50" data-tooltip="Locked"
										>lock</i>
									</h:panelGroup> <h:panelGroup rendered="#{topic.state eq 'ONGOING'}">
										<i class="material-icons circle gray tooltipped"
											data-position="top" data-delay="50" data-tooltip="Ongoing"
										>more_horiz</i>
									</h:panelGroup> 
									<span class="title"> 
										<h:link value="#{topic.title}" outcome="topic">
						                    <f:param name="id" value="#{topic.id}" />
						                </h:link> 
									</span>
									<p>
										<i class="material-icons">mode_edit</i> Started by
										#{topic.creator.fullName},
										<h:outputText value="#{topic.creationDate}">
											<f:convertDateTime pattern="dd MMM. yyyy 'at' hh:mm a" />
										</h:outputText>
									</p>
									<div class="forum-topic-creator-info">
										<div class="forum-topic-info">
											<div class="row">
												<i class="material-icons">message</i>#{topic.forumMessages.size()}
												Messages
											</div>
											<div class="row">
												<i class="material-icons">access_time</i>Last message by
												<h:panelGroup rendered="#{topic.forumMessages.size() > 0}">
													#{topic.forumMessages.get(topic.forumMessages.size() -
												1).author.fullName}
												</h:panelGroup>
												<h:panelGroup rendered="#{topic.forumMessages.size() == 0}">
													None
												</h:panelGroup>
											</div>
										</div>
										<div class="forum-creator-info">
											<h:graphicImage value="#{topic.creator.avatar}" />
											<div class="">
												<div class="truncate" style="max-width: 140px">#{topic.creator.fullName}</div>
												<div class="">
													<h:outputText value="#{topic.creationDate}">
														<f:convertDateTime pattern="dd MMM. yyyy" />
													</h:outputText>
												</div>
											</div>
										</div>
									</div></li>
							</ui:repeat>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<h:outputScript>
		$(window).ready(function() {
			$('ul.tabs').tabs('select_tab', 'tab1');
		});
		</h:outputScript>

	</ui:define>

</ui:composition>