<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" template="/WEB-INF/template/template.xhtml">
    <ui:define name="title">EyeWitness Forum</ui:define>

    <ui:define name="content">

        <div class="forum-header valign-wrapper">
            <h1 class="valign">
                FORUM
                <span class="valign-wrapper">By
                    <h:graphicImage value="/resources/img/logo.png" styleClass="valign"/>
                    Eyewitness
                </span>
            </h1>
        </div>
        <nav class="forum-breadcrumb">
            <div class="nav-wrapper">
                <div class="col s12">
                	<ui:repeat value="#{forumServicesBean.breadcrumbs}" var="b">
                		<a href="#{b.url}" class="breadcrumb">#{b.text}</a>
                	</ui:repeat>
                </div>
            </div>
        </nav>
        
        <ui:insert name="forumContent"></ui:insert>

    </ui:define>

    <ui:define name="stylesheets">
        <h:outputStylesheet library="css" name="forum.css"></h:outputStylesheet>
    </ui:define>
    <ui:define name="scripts">

        <h:outputScript>
            $(document).ready(function() { $('body > div.container').css('margin-left', '50px'); $('body > div.container').removeClass('container'); });
        </h:outputScript>

    </ui:define>

</ui:composition>