<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/public/forum/template.xhtml"
>
	<f:metadata>
		<f:viewParam name="id" value="#{forumTopicServicesBean.topicId}" />
		<f:viewAction action="#{forumTopicServicesBean.init}" />
	</f:metadata>
	<ui:define name="forumContent">
		<div class="container forum-content">
			<div class="row">
				<nav class="forum-topic-nav">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo"> <h:graphicImage
								value="#{forumTopicServicesBean.currentTopic.creator.avatar}"
							/> <span>#{forumTopicServicesBean.currentTopic.title}</span>
							<p>
								Started by
								#{forumTopicServicesBean.currentTopic.creator.fullName},
								<h:outputText
									value="#{forumTopicServicesBean.currentTopic.creationDate}"
								>
									<f:convertDateTime pattern="dd MMM. yyyy" />
								</h:outputText>
							</p>
						</a>
						<ul class="right">
							<li><h:form>
									<h:commandLink styleClass="waves-effect waves-light btn"
										action="#{forumTopicServicesBean.replyCurrentTopic()}"
										value="Reply"
									/>
								</h:form></li>
							<li><h:form>
									<h:commandLink
										styleClass="waves-effect waves-light btn login-btn"
										action="#{forumTopicServicesBean.followCurrentTopic()}"
										value="Follow"
									/>
								</h:form></li>
						</ul>
					</div>
				</nav>
				<div class="card">
					<ul class="collection">
						<li class="collection-item"><b>#{forumTopicServicesBean.currentTopic.forumMessages.size()}
								Messages</b></li>
					</ul>
				</div>
				<ui:repeat var="message"
					value="#{forumTopicServicesBean.currentTopicMessages}" varStatus="loop"
				>
					<div class="card row forum-message-item" style="margin-left: 0; margin-right: 0">
						<div class="col s2 center">
							<h5>#{message.author.fullName}</h5>
							<h:graphicImage value="#{message.author.avatar}" />
							<p>#{message.author.role}</p> 
							<div>15 Posts</div> 
							<div>
								Joined in
								<h:outputText value="#{message.postDate}">
									<f:convertDateTime pattern="dd MMM. yyyy" />
								</h:outputText>
							</div>
						</div>
						<div class="col s10">
							<div>
								Posted 
								<h:outputText value="#{message.postDate}">
									<f:convertDateTime pattern="dd MMM. yyyy 'at' hh:mm a" timeZone="GMT+1"/>
								</h:outputText>
								<span class="right">##{loop.index + 1}</span>
							</div>
							<h:panelGroup rendered="#{loop.odd}">
								<hr style="height: 2px;"/>
							</h:panelGroup>
							<h:panelGroup rendered="#{loop.even}">
								<hr />
							</h:panelGroup>
							<div>
								<p class="forum-message-body">#{message.bodyMarkdown}</p>
							</div>
						</div>
						<div class="forum-report-message valign-wrapper"><i class="material-icons amber-text">warning</i>Report</div>
					</div>
				</ui:repeat>
			</div>
		</div>
	</ui:define>

</ui:composition>