<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/public/forum/template.xhtml">
	<f:metadata>
		<f:viewParam name="subjectId"
			value="#{forumTopicCreationBean.subjectId}" />
		<f:viewAction action="#{forumTopicCreationBean.init()}" />
	</f:metadata>

	<ui:define name="forumContent">

		<div class="container forum-content">
			<h:form>
				<div class="card">
					<div class="row">
						<div class="col s6">
							<h:outputLabel for="title" value="Subject" />
							<h:inputText id="title"
								value="#{forumTopicCreationBean.currentTopic.title}" />
						</div>
						<div class="col s6">
							<h:outputLabel for="witnessCard" value="About" />
							<h:selectOneMenu id="witnessCard" value="#{forumTopicCreationBean.choosenCard.id}">
								<f:selectItem itemLabel="please select"  />
								<f:selectItems value="#{forumTopicCreationBean.witnesscards}" var="c"
									itemLabel="#{c.name}" itemValue="#{c.id}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<h:outputLabel for="body" value="Message" />
							<h:inputTextarea id="body" styleClass="materialize-textarea"
							value="#{forumTopicCreationBean.currentMessage.bodyMarkdown}" />
						</div>
						<div class="col s6">
							<h:outputLabel value="Preview" />
							<h1>Preview here !</h1>
						</div>
					</div>
					<div class="row"><h:commandLink styleClass="waves-effect waves-light btn col s12" action="#{forumTopicCreationBean.createTopic()}" value="Submit" /></div>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>