.forum-header {
	background-image: url("#{resource['img:city-bg.jpg']}");
	height: 250px;
	background-position-y: -185px;
}

.forum-header > h1 {
	position: relative; 
	margin : 0;
	color: rgba(255, 255, 255, 0.85);
	font-weight: 200;
	margin-left: auto;
	margin-right: auto;
	font-size: 100pt;
}

.forum-header > h1 > span {
	font-size: 20px;
	font-family: Pacifico;
	position: absolute;
	font-weight: initial;
	bottom: 10px;
	right: -50px;
	height: 0px;
}

.forum-header > h1 > span > img {
	width: 40px;
	height: 40px;
}

nav.forum-breadcrumb {
	background-color: white;
	height: 40px;
}

a.breadcrumb:hover {
	color: #ff9800 !important;
	text-shadow: 0px 1px rgba(255, 152, 0, 0.5);
}

.forum-content {
	width: 95%;
	max-width: 100%;
	margin-top: 10px;
}

.forum-search > .nav-wrapper {
	margin: 0px;
	background-color: rgb(255, 152, 0);
}
.forum-card-header {
	height: 45px;
}
.forum-card-header > i {
	margin-right: 10px;
}

.forum-card-header > p {
	margin-left: 10px;
	font-size: 13px;
    color: grey;
}

.forum-card-content > .collection {
	border: none;
}

.forum-card-content > .collection > .collection-item.avatar {
	min-height: 0px;
}

.forum-card-content > .collection > .collection-item.avatar > p {
	font-size: 13px;
    color: grey;
}

.forum-card-content > .collection > .collection-item.avatar > p > i {
	font-size: inherit;
	margin-right: 5px;
}

.forum-card-content > .collection > .collection-item > span.title > a {
	font-size: 16px;
    color: black;
}
.forum-card-content > .collection > .collection-item > span.title > a:hover {
	color: black !important;
} 

.forum-topic-creator-info {
    position: absolute; 
    right: 0;
    top: 0;
    /*border-left: 1px solid lightgrey;*/
    display: -webkit-box;
    height: 100%;
}

.forum-topic-info {
    height: 100%;
	padding: 10px;
    font-size: 13px;
    color: grey;
    width: 250px;
    max-width: 250px;
}

.forum-topic-info > .row {
	margin: 0px;
}

.forum-topic-info > .row > i {
	font-size: inherit;
	margin-right: 10px;
}

.forum-creator-info {
    display: -webkit-box;
    padding-left: 15px;
    padding-top: 11px;
    padding-right: 16px;
    height: 100%;
    /*border-left: 1px solid lightgrey;*/
    max-width: 300px;
    width: 300px;
}

.forum-creator-info > div > div:last-child {
	font-size: 13px;
    color: grey;
}

.forum-creator-info > img {
    width: 42px;
    border-radius: 50%;
    margin-right: 12px;
}

/* Subject */
.subject-forum-title-nav {
	background-color: #ff9800;
}

/* Topic */
.forum-topic-nav {
	background-color: #ff9800;
}

.forum-topic-nav > div > a.brand-logo {
	padding-left: 20px;
	background-color: #ff9800;
	display: inline-flex;
}

.forum-topic-nav > div > a.brand-logo > img {
    position: absolute;
    top: 10px;
    left: -40px;
}

.forum-topic-nav > div > a.brand-logo > p {
	margin: 0;
	font-size: 15px;
	margin-left: 20px;
}

.forum-message-item {
	padding: 20px;
}

.forum-message-item > div > img {
	width: 130px;
	border: 5px solid white;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.forum-message-item > div > p,
.forum-message-item > div > div {
	color: grey;
	font-size: 13px;
}

hr {
	border: 0;
    height: 1px;
    background-color: rgb(227, 227, 227)
}

.forum-message-body {
	font-size: 16px;
	color: black;
}

.forum-report-message {
	position: absolute;
    bottom: 15px;
    right: 20px;
    color: grey;
	font-size: 13px;
	cursor: pointer;
}

.forum-report-message > i {
	font-size: 20px;
}












