.manage-content > div.col.s3 {
	padding-top: 25px;
}

.manage-content > div.col.s3 > div.card {
	height: 70px;
	padding:15px;
	margin-top:0px;
}

.manage-content > div.col.s9 > div.card {
	margin-top: 25px;
	padding: 5px 20px;
}

.manage-content > div.col.s9 > div.card > .collection p {
	text-align: justify;
}

.manage-content > div.col.s9 > div.card > .collection i {
	color: #ff9800;
}

.manage-content > form {
	position: fixed;
    right: 20px;
    top: 84px;
}