html {
    background: #ececec;
}

@font-face {
    font-family: Pacifico;
    src: url("#{resource['fonts:Pacifico.ttf']}");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("#{resource['fonts:MaterialIcons-Regular.eot']}"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("#{resource['fonts:MaterialIcons-Regular.woff2']}") format('woff2'),
       url("#{resource['fonts:MaterialIcons-Regular.woff']}") format('woff'),
       url("#{resource['fonts:MaterialIcons-Regular.ttf']}") format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

div.chip {
    cursor: pointer;
}

.pagination li.active {
    background-color: #ff9e44;
}

a.brand-logo > img {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    margin: 4px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
}

.side-menu-initial {
    width: 50px;
    height: 100%;
    position: fixed;
    background: #26a69a;
    left: 0;
    top: 0;
    z-index: 998;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 0px 5px 0px;
}

.side-menu-initial > i.menu-btn {
    color: white;
    margin: 13px;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
}


.menu-content > li {
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 15px;
    cursor: pointer;
}
.menu-content > li > a {
    color: white;
}

.menu-content > li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.menu-content > li:first-child:hover {
    background: none;
}

.menu-content > li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.menu-content > li:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 40px;

    border-top: none;
    padding-left: 0;
}

.menu-content > li:first-child > div {
    font-family: Pacifico;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: -20px;
}

.menu-content > li:first-child > img {
    width: 150px;
    margin: 5px;
    text-align: center;
}

.menu-content {
    position: absolute;
    left: -500px;
    margin-top: -50px;
    margin-left: 0;
}

nav > div.nav-wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

div.brand-text {
    font-family: Pacifico;
    color: white;
    position: fixed;
    bottom: 100px;
    font-size: 30px;
    -webkit-transform: translateX(-45px) rotate(-90deg); 
    -moz-transform: translateX(-45px) rotate(-90deg);
    transform: translateX(-45px) rotate(-90deg);
}

.breadcrumbs {
    height: 40px;
    padding-left: 50px;
}
.breadcrumbs > div.nav-wrapper > div {
    height: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.breadcrumb, .breadcrumb:last-child, .breadcrumb::before {
    color: #ff9800;
}

.breadcrumb, .breadcrumb:last-child {
    bottom: 11px;
    position: relative;
}

.button-collapse {
    background: #26a69a;
    color: white;
    position: fixed;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 10px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.4);
}
.search-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    position: fixed;
}
.search-btn > input {
    background: white;
    height: 42px;
    width: 433px;
    margin-right: 40px;
    margin-top: 7px;
    border-radius: 10px;
    color: black;
    padding-left: 10px;
}

.search-btn:hover {
    width: 500px;
    border-radius: 10px;
    transition: 0.5s;
}

.search-btn:hover > i {
    position: absolute;
    width: 0px;
    right: 40px;
}

a:hover, a:focus {
    color: white !important;
}

a {
    text-decoration: none !important;
}

a.login-btn {
    background-color: transparent;
    border: 1px solid #2bbbad;
    color: rgb(43, 187, 173);
}

a.login-btn:hover {
    background-color: rgba(43, 187, 173, 0.4);
    color: white !important;
}

header > div > nav {
    background-color:#FF9800;
}

header nav .nav-wrapper {
    background-color: transparent !important;
    padding-left: 40px;
}

header nav .nav-wrapper > ul.left {
    background: white;
    height: 36px;
    width: 400px;
    padding-left: 10px;
    margin-top: 14px;
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

header nav .nav-wrapper > ul.left .material-icons{
    color: black;
    position: relative;
    bottom: 13px;
}

header nav .nav-wrapper > ul.left input {
    background: transparent;
    border: none;
    width: 350px;
    position: relative;
    bottom: 7px;
}

header nav .nav-wrapper > ul.left input:focus, 
header nav .nav-wrapper > ul.left input:focus:not([readonly]) {
    border: none;
    box-shadow: none;
}

#fast-search-results {
    width: 350px;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 99;
    left: 130px;
    top: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#fast-search-results div.search-title {
    background-color: #d8d8d8;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding-left: 15px;
    padding-top: 5px;
    color: grey;
    height: 30px;
}

#fast-search-results .no-results-text {
    padding-left: 15px;
    height: 50px;
    padding-top: 15px;
}

#fast-search-results .results {
    padding-top: 5px;
    padding-left: 5px;
}