<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Schedule page</ui:define>
	<ui:define name="content">
		<h:form>
			<p:growl id="messages" showDetail="true" />

			<h:panelGrid columnClasses="value">
				<h3 style="margin-top: 0">Editable Schedule</h3>
				<p:schedule id="schedule" value="#{scheduleView.eventModel}"
					widgetVar="myschedule" timeZone="GMT+1">

					<p:ajax event="dateSelect" listener="#{scheduleView.onDateSelect}"
						update="eventDetails" oncomplete="PF('eventDialog').show();" />
					<p:ajax event="eventSelect"
						listener="#{scheduleView.onEventSelect}" update="eventDetails"
						oncomplete="PF('eventDialog').show();" />
					<p:ajax event="eventMove" listener="#{scheduleView.onEventMove}"
						update="messages" />
					<p:ajax event="eventResize"
						listener="#{scheduleView.onEventResize}" update="messages" />

				</p:schedule>

			</h:panelGrid>

			<p:dialog widgetVar="eventDialog" header="Event Details"
				showEffect="clip" hideEffect="clip">
				<h:panelGrid id="eventDetails" columns="2">
					<p:outputLabel for="title" value="Titles:" />
					<p:inputText id="title" value="#{scheduleView.event.title}"
						required="true" />

					<p:outputLabel for="from" value="From:" />
					<p:calendar id="from" value="#{scheduleView.event.startDate}"
						timeZone="GMT+2" pattern="dd/MM/yyyy HH:mm" />

					<p:outputLabel for="to" value="To:" />
					<p:calendar id="to" value="#{scheduleView.event.endDate}"
						timeZone="GMT+2" pattern="dd/MM/yyyy HH:mm" />

					<p:outputLabel for="allDay" value="All Day:" />
					<h:selectBooleanCheckbox id="allDay"
						value="#{scheduleView.event.allDay}" />

					<p:commandButton type="reset" value="Reset" />
					<p:commandButton id="addButton" value="Save"
						actionListener="#{scheduleView.addEvent}"
						oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
				</h:panelGrid>
			</p:dialog>
		</h:form>

		<style type="text/css">
.value {
	width: 1000px;
}
</style>


	</ui:define>


</ui:composition>