<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">List Events</ui:define>
	<ui:define name="content">

		<h:body>
			<ui:repeat var="e"
				value="#{ eventManagementBean.eventsunparticipated}">
				<div class="row">
					<div class="col s12 m7">
						<div class="card">
							<div class="card-image">
								<h:graphicImage value="/content/#{e.picture}" />
								<span style="background-color: red" class="card-title">#{e.name}</span>
							</div>
							<div class="card-content">
								<p>#{e.description}</p>
								<p style="color: red">Date From : #{e.dateFrom}</p>
								<p style="color: red">Date To: #{e.dateTo}</p>
							</div>

							<div class="card-action">
								<h:form>
									<h:commandLink class="waves-effect waves-green btn-flat"
										rendered="#{eventManagementBean.doVerifyDateParticipation(e,eventManagementBean.currentUser.id)}"
										action="#{eventManagementBean.doParticipate(eventManagementBean.currentUser.id, e)}"
										value="Participate" />
									<h:commandLink
										onclick="Materialize.toast('You can not participate in this event because you have already an event in the same date', 130000)"
										class="waves-effect waves-green btn-flat "
										rendered="#{!eventManagementBean.doVerifyDateParticipation(e,eventManagementBean.currentUser.id)}"
										value="Participate" />

								</h:form>

							</div>


							<ui:repeat var="u"
								value="#{eventManagementBean.dolistFollowedUsersByEvent(e.id,eventManagementBean.currentUser.id)}">

								<div class="chip">
									<h:graphicImage value="/content/#{u.avatar}"
										alt="Contact Person" />
									#{u.firstName} #{u.lastName}
								</div>

							</ui:repeat>

						</div>
					</div>
				</div>

			</ui:repeat>



		</h:body>
	</ui:define>
</ui:composition>
