<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Home page</ui:define>
	<ui:define name="content">
		<h:form>
			<h:dataTable value="#{competitionsServicesBean.competitionList}"
				var="p" border="5">
				<h:column id="c12">
					<f:facet name="header">
						<h:outputText value="Theme" />
					</f:facet>
					<h:outputText value="#{p.theme}" />
					<f:facet name="header">
						<h:outputText value="Description" />
					</f:facet>
					<h:outputText value="#{p.descripiton}" />
					<f:facet name="header">
						<h:outputText value="DateFrom" />
					</f:facet>
					<h:outputText value="#{p.dateFrom}" />
					<f:facet name="header">
						<h:outputText value="DateTo" />
					</f:facet>
					<h:outputText value="#{p.dateTo}" />
					<f:facet name="header">
						<f:facet name="header">
							<h:outputText value="witnesscard" />
						</f:facet>
						<h:outputText value="#{p.witnesscard.name}" />
						<f:facet name="header">
							<h:outputText value="Actions" />
						</f:facet>
						<h:commandLink
							action="#{witnessCardsServicesBean.doparticipateCompetition(p)}"
							value="participate">
						</h:commandLink>
					</f:facet>
				</h:column>
			</h:dataTable>

		</h:form>
	</ui:define>
</ui:composition>