<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title"> User space</ui:define>
	<ui:define name="content">

		<h1>
			Welcome User :
			<h:outputText
				value="#{userServicesBean.currentUser ne null ? userServicesBean.currentUser.firstName : ''} #{userServicesBean.currentUser ne null ? userServicesBean.currentUser.lastName : ''}" />
		</h1>

		<h:form id="chercherWC" rendered="#{witnessCardsServicesBean.displaysearch}">
			<h:inputText value="#{witnessCardsServicesBean.searchWCString}" />
			<h:commandButton  action="#{witnessCardsServicesBean.doSearchWCbyName()}" value="search" />
		</h:form>


		<h:form id="WClist" rendered="#{witnessCardsServicesBean.displayFormWc}">
			<h:dataTable value="#{witnessCardsServicesBean.witnessCards}" var="p"
				border="2">
				<h:column id="c1">
					<f:facet name="header">
						<h:outputText value=" Witness Card" />
					</f:facet>
					<h:outputText value="#{p.name}" />
				</h:column>

				<h:column id="c3">
					<f:facet name="header">
						<h:outputText value=" Description" />
					</f:facet>
					<h:outputText value="#{p.description}" />
				</h:column>

				<h:column id="c2">
					<f:facet name="header">
                      <h:outputText value="" /> 
					</f:facet>

					<h:commandButton  action="#{witnessCardsServicesBean.doCheckWitnessCard(p)}" value="Check it !" />

				</h:column>
			</h:dataTable>
		</h:form>
		
		<h:form id="ckdelaul" rendered="#{witnessCardsServicesBean.displayWCDetails}">
			<h:dataTable value="#{witnessCardsServicesBean.witnessCards}" var="k" border="2">
				<h:column id="c4">
					<f:facet name="header">
						<h:outputText value="" />
					</f:facet>
					<h:graphicImage value="#{k.picture}" width="200"  height="200"/> <br/>
					<h:outputText value="#{k.description}" />
				</h:column>
				
			</h:dataTable>

		</h:form>


		<h:form id="listofcomment" rendered="#{witnessCardsServicesBean.displayComment}">
			<h:dataTable value="#{witnessCardsServicesBean.commentsOfWitnessCard}" var="k" border="2">
				<h:column id="c4">
					<f:facet name="header">
						<h:outputText value="" />
					</f:facet>
					<h:outputText value="#{k.userName}" />
				</h:column>
				<h:column id="c5">
					<f:facet name="header">
						<h:outputText value="" />
					</f:facet>
					<h:outputText value="#{k.comment}" />
				</h:column>
			</h:dataTable>

				<h:inputText value="#{witnessCardsServicesBean.commentText}" />
			<h:commandButton  action="#{witnessCardsServicesBean.doCommenterwintnesscard()}" value="comment" />
		</h:form>






	</ui:define>
</ui:composition>