<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<div id="fast-search-results">
		<div class="no-results" style="display: none">
			<div class="no-results-text">No results</div>
		</div>

		<div class="witness-card-results" style="display: none">
			<div class="search-title">Witness cards</div>
			<div class="results"></div>
		</div>

		<div class="category-results" style="display: none">
			<div class="search-title">Categories</div>
			<div class="results"></div>
		</div>
		<div class="user-results" style="display: none">
			<div class="search-title">Users</div>
			<div class="results"></div>
		</div>
	</div>
</ui:composition>