<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<header>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper orange">
					<ul class="right">
						<h:form rendered="#{userServicesBean.currentUser ne null}">
							<li>
								<a class="dropdown-button" style="display: -webkit-box;" href="#" data-constrainwidth="" data-beloworigin="true" data-activates="user-notifications-dropdown">
									<span class="notification-tag"></span>
									<i class="material-icons">notifications</i>
								</a>
							</li>
							
							<ul id="user-notifications-dropdown" class="dropdown-content">
							    <ui:repeat var="n" value="#{userServicesBean.currentUserNotifications}">
							    	<li><a href="#{n.url}">#{n.message}</a></li>
							    </ui:repeat>
							</ul>
							
							<li><a class="dropdown-button valign-wrapper" href='#'
								data-activates='user-menu-dropdown' data-beloworigin="true">
									<h:outputText
										value="#{userServicesBean.currentUser.firstName}  #{userServicesBean.currentUser.lastName}" />
										<h:graphicImage style="border-radius: 50%; margin-left: 10px;width: 50px; height:50px;" value="#{userServicesBean.currentUser.avatar}" />
							</a></li>
							<ul id='user-menu-dropdown' class='dropdown-content'>
								<!-- <li><a class="row" href="/Manage"
									style="margin-bottom: 0px;"> <i
										class="material-icons col s3">person</i> <span class="col s9">Your
											Profile</span>
								</a></li>
								<li><a class="row" href="/WitnessCard/MyWitnessCards"
									style="margin-bottom: 0px;"> <i class="fa fa-address-card"></i>
										<span class="col s9">Your witness cards</span>
								</a></li>
								<li><a class="row" href="/WitnessCard/ListOfWCSuggested"
									style="margin-bottom: 0px;"> <i class="fa fa-address-card"></i>
										<span class="col s9">Suggested witness cards</span>
								</a></li> 

								<li class="divider"></li> -->
								<li><h:commandLink action="#{userServicesBean.logout()}"
										styleClass="row" style="margin-bottom: 0px;">
										<i class="fa fa-sign-out col s3" aria-hidden="true"></i>
										<span class="col s9">Logout</span>
									</h:commandLink></li>
							</ul>

						</h:form>
						<h:form rendered="#{userServicesBean.currentUser eq null}">
							<li><h:commandLink
									styleClass="waves-effect waves-light btn login-btn"
									action="/pages/public/login?faces-redirect=true" value="Login" />
							</li>
							<li><h:commandLink styleClass="waves-effect waves-light btn"
									action="/pages/public/register?faces-redirect=true"
									value="register" /></li>
						</h:form>
					</ul>
					<ul class="left">
						<li><i class="material-icons">search</i></li>
						<li><input type="text" placeholder="Search"
							id="fast-search-input" /></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

</ui:composition>