<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<div class="side-menu-initial">
		<i class="material-icons menu-btn">menu</i> <a href="#!"
			class="brand-logo">
			<div class="brand-text">Eyewitness</div> <h:graphicImage
				value="/resources/img/logo.png" styleClass="hoverable" />
		</a>
		<h:form>
			<ul class="menu-content">
				<li><h:graphicImage value="/resources/img/logo.png" />
					<div>Eyewitness</div></li>
				<h:panelGroup rendered="#{userServicesBean.currentUser eq null}">
					<!-- PUBLIC -->
					<li class="menu-item"><a>Home</a></li>
					<li class="menu-item"><a>Search</a></li>
					<li class="menu-item"><a>Suggest a category</a></li>
	
				</h:panelGroup>
				<h:panelGroup
					rendered="#{userServicesBean.currentUser != null and userServicesBean.currentUser.role eq 'ADMIN'}">
					<li class="menu-item"><h:commandLink action="/pages/secure/admin/forumManagement?faces-redirect=true" value="Forum management" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/admin/forumManagement?faces-redirect=true" value="Notification center" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/admin/ManageWords?faces-redirect=true" value="Configure sentimental analysis" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/admin/managecompetition?faces-redirect=true" value="Manage competitions" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/admin/admin?faces-redirect=true" value="Active user" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/agent/manageWitnessCards?faces-redirect=true" value="Manage my witness cards" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/user/participate?faces-redirect=true" value="Participate to a competition" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/user/userHome?faces-redirect=true" value="Personal space" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/admin/badwordsmanagement?faces-redirect=true" value="Bad word management" /></li>
				</h:panelGroup>
				<h:panelGroup
					rendered="#{userServicesBean.currentUser != null and (userServicesBean.currentUser.role eq 'AGENT') }">
					<li class="menu-item"><h:commandLink action="/pages/secure/agent/manageWitnessCards?faces-redirect=true" value="Manage my witness cards" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/user/participate?faces-redirect=true" value="Participate to a competition" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/user/userHome?faces-redirect=true" value="Personal space" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/agent/listEvents?faces-redirect=true" value="List of events" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/user/participateEvent?faces-redirect=true" value="Participate to an event" /></li>
				</h:panelGroup>
				<h:panelGroup
					rendered="#{userServicesBean.currentUser != null and userServicesBean.currentUser.role eq 'USER'}">
					<li class="menu-item"><h:commandLink action="/pages/secure/user/participate?faces-redirect=true" value="Participate to a competition" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/user/userHome?faces-redirect=true" value="Personal space" /></li>
					<li class="menu-item"><h:commandLink action="/pages/secure/user/participateEvent?faces-redirect=true" value="Participate to an event" /></li>
				</h:panelGroup>
			</ul>
		</h:form>
	</div>
</ui:composition>