<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>

	<title><ui:insert name="title" >[Title here]</ui:insert></title>
	<h:outputStylesheet library="css" name="materialize.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="font-awesome.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<ui:insert name="stylesheets"></ui:insert>
	
	<h:outputScript library="primefaces" name="jquery/jquery.js" />

</h:head> 
<h:body> 
	
	<!-- Header -->
	<ui:include src="/WEB-INF/template/header.xhtml" />
    
    <!-- Fast search results -->
    <ui:include src="/WEB-INF/template/fastSearchResults.xhtml" />
    
    <!-- Side menu -->
    <ui:include src="/WEB-INF/template/sidemenu.xhtml" />
    
    <!-- Content -->
    <div class="container">
    	<ui:insert name="content">
	    	[Content goes here]
	    </ui:insert>
    </div>

    <!-- <h:outputScript library="js" name="jquery.min.js"></h:outputScript> -->
    <h:outputScript library="js" name="materialize.js"></h:outputScript>
    <h:outputScript library="js" name="script.js"></h:outputScript>
	<ui:insert name="scripts"></ui:insert>
	<h:outputScript>
	
		var id = '#{userServicesBean.currentUser.id}';
		
		if (id != '') {
			// Web Socket connection for notifications
			var websocket = new WebSocket("ws://localhost:18080/eyewitness-web/notification");
			websocket.onopen = function processOpening() {
				websocket.send(JSON.stringify({
					'id': '#{userServicesBean.currentUser.id}',
					'type': 'TYPE_HANDSHAKE',
					'message': 'handshake-payload'
				}));
			};
			websocket.onmessage = function processMessage(message) {
				var data = JSON.parse(message.data);
				// Increment notification tag
				content = $('.notification-tag').html();
				if (content == '') $('.notification-tag').html('1');
				else $('.notification-tag').html(parseInt($('.notification-tag').html()) + 1);
				
				// Add elements to notification list
				list = $('#user-notifications-dropdown');
				console.log("Object : ", JSON.parse(message.data));
				console.log("Url : ", JSON.parse(message.data).url);
				console.log("Name : ", JSON.parse(message.data).name);
				
				$(list).append($('<li><a href="' + url + '">' +  name + '</a></li>'));
				
			};
		}
	</h:outputScript>
</h:body> 
</html>
