<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Home page</ui:define>
	<ui:define name="content">
	Home Content 
	<h:form>
		<h:selectOneMenu value="#{testBean.witnesscard.id}">
			<f:selectItem itemLabel="please select"  />
			<f:selectItems value="#{testBean.witnesscards}" var="c"
				itemLabel="#{c.name}" itemValue="#{c.id}" />
		</h:selectOneMenu>
		<h:commandButton action="#{testBean.show()}" value="show" />
	</h:form>
	</ui:define>
</ui:composition>