<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Login page</ui:define>
	<ui:define name="content">
		<h:form>
			<h1>welcome</h1>
			<h:panelGrid columns="2">
				<h:outputText value="login" />
				<h:inputText value="#{userServicesBean.user.email}" />
				<h:outputText value="password" />
				<h:inputSecret value="#{userServicesBean.user.password}" />
			</h:panelGrid>
			<h:commandButton action="#{userServicesBean.doRemoteLogin()}" value="login" />
		</h:form>
	</ui:define>
</ui:composition>