<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Register page</ui:define>
	<ui:define name="content">
		
		<h:form id="register-form" enctype="multipart/form-data">
		
			<h:outputLabel value="Email : " for="email" />
			<h:inputText value="#{userServicesBean.user.email}" id="email" />
			<h:outputLabel value="Password :" for="pass" />
			<h:inputText value="#{userServicesBean.user.password}" id="pass" />
			<h:outputLabel value="Avatar :" for="avatar"/>
			<h:inputFile id="avatar" value="#{userServicesBean.userAvatar}"></h:inputFile>
			<h:commandButton action="#{userServicesBean.doRegister()}" value="Register" />
		</h:form>

	</ui:define>
</ui:composition>