<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Dashboard</ui:define>
	<ui:define name="content">
		<style>
		.jqplot-table-legend {
			display: none;
		}
		</style>
		<form>
			<h1>Most active user</h1>
			<p:chart type="bar" model="#{chartView.barModel}"
				style="height:300px" />
			<p:chart type="bar" model="#{chartView.horizontalBarModel}"
				style="height:300px" />
		</form>
	</ui:define>
</ui:composition>