<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">


	<ul class="collapsible" data-collapsible="accordion">
		<ui:repeat var="p" value="#{userServicesBean.agentRequests}">

			<li>
				<div class="collapsible-header">
					<i class="material-icons">account_circle</i>#{p.agent.firstName}
					#{p.agent.lastName} wants to be an AGENT on #{p.witnesscard.name}
				</div>
				<div class="collapsible-body">
					<table align="center">
						<tr>
							<td style="text-align: center"><h:graphicImage value="#{p.agent.avatar}" style="width:230px;height:200px"/></td>
							<td><h:graphicImage value="#{p.witnesscard.picture}" style="width:230px;height:200px"/></td>
						</tr>
						<tr>
							<td style="padding-left: 150px"><b>FirstName :</b> #{p.agent.firstName}</td>
							<td><b>WitnessCard Name :</b> #{p.witnesscard.name}</td>
						</tr>

						<tr>
							<td style="padding-left: 150px"><b>LastName :</b> #{p.agent.lastName}</td>

							<td ><b>Address : </b> #{p.witnesscard.address}</td>
						</tr>
						
						
						
						
					</table>
					<div style="padding-left: 220px">
					<p ><b>Message : </b>#{p.message}</p>
					</div>
					<h:form>
					<div align="center" style="padding-bottom: 20px">
									<h:commandLink
										action="#{userServicesBean.doAssignAgent()}"
										value="Validate" styleClass="waves-effect waves-light btn " style="text-align:right">
										<f:setPropertyActionListener value="#{p}"
											target="#{userServicesBean.agentRequest}"></f:setPropertyActionListener>
									</h:commandLink>
									</div>
								</h:form>
				</div>
			</li>
		</ui:repeat>

	</ul>

</ui:composition>