<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Admin page</ui:define>
	<ui:define name="content">

		<h1>
			Welcome Admin :
			<h:outputText
				value="#{userServicesBean.currentUser ne null ? userServicesBean.currentUser.firstName : ''} #{userServicesBean.currentUser ne null ? userServicesBean.currentUser.lastName : ''}" />
</h1>


		<h:form id="ajoutBadword">
			<h:inputText value="#{badWordDictionnaryBean.badwordText}" />
			<h:commandButton action="#{badWordDictionnaryBean.doaddBadWOrd()}"
					value="save or update" />
				</h:form>
				
				
			<h:form id="BadWordList" >
			<h:dataTable value="#{badWordDictionnaryBean.badwords}" var="p" border="2">
				<h:column id="c1">
					<f:facet name="header">
						<h:outputText value=" bad word" />
					</f:facet>
					<h:outputText value="#{p.text}" />
				</h:column>
				
				<h:column id="c2">
					<f:facet name="header">
						<h:outputText value="operation" />
					</f:facet>
					
						<h:commandButton action="#{badWordDictionnaryBean.doRemoveBadWord(p)}" value="Delelte" />
				</h:column>
			</h:dataTable>	
				</h:form> 
				
				
	</ui:define>
</ui:composition>