<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<div class="col s12 m8 offset-m2 l6 offset-l3">
		<ui:repeat var="p" value="#{userServicesBean.bannableUsers}">
			<div class="card-panel grey lighten-5 z-depth-1">
				<div class="row valign-wrapper">
					<div class="col s2">
						<h:graphicImage value="#{p.avatar}" style="width:60px;height:60px" />
					</div>
					<div class="col s10">
						<span class="black-text"> This user <b>#{p.firstName}
								#{p.lastName}</b> has made <b>#{p.nbBadComments} bad comments </b>
						</span>
						<h:form>

							<h:inputText value="#{userServicesBean.durationDays}">
								<f:convertNumber maxIntegerDigits="2"/>
							</h:inputText>

							<h:commandLink action="#{userServicesBean.doBanUser()}"
								value="BAN" styleClass="waves-effect waves-light btn ">
								<f:setPropertyActionListener value="#{p}"
									target="#{userServicesBean.user}"></f:setPropertyActionListener>
							</h:commandLink>
						</h:form>
					</div>
				</div>
			</div>
		</ui:repeat>
	</div>
</ui:composition>