<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="metadata">
		<f:metadata>
			<f:event listener="#{competitionsServicesBean.clearCompetition()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="title">Create</ui:define>
	<ui:define name="content">
		<h:form>
			<p:panel header="Create competition" style="margin-bottom:10px;" id="panel">
			 <p:messages id="msgs" />
				<h:panelGrid styleClass="createTable" columns="3" cellpadding="4"
					cellspacing="0">

					  <h:outputLabel value="#{witnessCardsServicesBean.witnesscard.id}" />
					<h:outputLabel for="theme">Theme:</h:outputLabel>
					<h:inputText id="theme" size="45"
						value="#{competitionsServicesBean.competition.theme}"
						required="true" requiredMessage="Theme is required" ><f:validateLength minimum="2" /></h:inputText>
					 <p:message for="theme" display="icon" />

					<h:outputLabel for="description">Description:</h:outputLabel>
					<h:inputText id="description" size="45"
						value="#{competitionsServicesBean.competition.descripiton}"
						required="true" requiredMessage="description is required" >
						<f:validateLength minimum="2" />
                <p:ajax update="msgdescription" event="keyup" />
						
						</h:inputText>
					<p:message for="description" id="msgdescription" display="icon" />
					
					<p:outputLabel for="datetime" value="DateFrom:" />
							<p:calendar id="datetime"
								value="#{competitionsServicesBean.competition.dateFrom}"
								pattern="MM/dd/yyyy HH:mm:ss" />
								<p:dialog modal="true" resizable="false" header="Values"
							widgetVar="dlg" showEffect="fold">
							<p:panelGrid id="display" columns="2" columnClasses="label,value">
								<h:outputText value="DateFrom:" />
								<h:outputText
									value="#{competitionsServicesBean.competition.dateFrom}">
									<f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
								</h:outputText>
							</p:panelGrid>
						</p:dialog>
						<p:outputLabel for="datetime" value="DateTo:" />
							<p:calendar id="datetime1"
								value="#{competitionsServicesBean.competition.dateTo}"
								pattern="MM/dd/yyyy HH:mm:ss" />
								<p:dialog modal="true" resizable="false" header="Values"
							widgetVar="dlg" showEffect="fold">
							<p:panelGrid id="display1" columns="2" columnClasses="label,value">
								<h:outputText value="DateTo:" />
								<h:outputText
									value="#{competitionsServicesBean.competition.dateTo}">
									<f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
								</h:outputText>
							</p:panelGrid>
						</p:dialog>	
				</h:panelGrid>
			</p:panel>
			<h:commandButton action="#{competitionsServicesBean.doCreateCompetition(witnessCardsServicesBean.witnesscard)}"
				value="Create"></h:commandButton>
			<br></br>
				<h:link outcome="index" value="List Competitions" />
				<br></br>
				<h:link outcome="managecompetition" value="List WitnessCard" />
		</h:form>
	</ui:define>
</ui:composition>















































