<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="title">Competitons</ui:define>
	<ui:define name="content">

		<h:form>
			<h1>Delete Competition</h1>
			<h:panelGrid columns="2">
				<h:outputText value="Theme" />
				<h:inputText value="#{competitionsServicesBean.competition.theme}" />
				<h:outputText value="Description" />
				<h:inputText value="#{competitionsServicesBean.competition.descripiton}" />
					<h:outputText value="Description" />
				<h:inputText value="#{competitionsServicesBean.competition.descripiton}" />
				<h:outputText value="DateFrom" />
				<h:inputText value="#{competitionsServicesBean.competition.dateFrom}" />
				<h:outputText value="DateTo" />
				<h:inputText value="#{competitionsServicesBean.competition.dateTo}" />
			</h:panelGrid>


			<h:commandButton action="#{competitionsServicesBean.doDeleteCompetition()}"
				value="Delete" />

		</h:form>

	</ui:define>
</ui:composition>