<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="competitionId"
				value="#{competitionsServicesBean.competition.id}" />
			<f:event
				listener="#{competitionsServicesBean.doFindCompetitionById()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="title">Edit Competition</ui:define>
	<ui:define name="content">
		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" layout="table" />
		<h1>Edit Competition</h1>
		<h:form>
			<div class="row">
				<div class="col s12 m7">
					<div class="card">
						
						<div class="card-content">
							<h:panelGrid styleClass="editTable" columns="2" cellpadding="4"
								cellspacing="0">
								<p:outputLabel value="Theme" />
								<h:inputText
									value="#{competitionsServicesBean.competition.theme}" />
								<p:outputLabel value="Description" id="Description" />
								<h:inputText
									value="#{competitionsServicesBean.competition.descripiton}" />


								<p:outputLabel for="datetime" value="Date From:" />
								<p:calendar id="datetime"
									value="#{competitionsServicesBean.competition.dateFrom}"
									pattern="MM/dd/yyyy HH:mm:ss" />

								<p:dialog modal="true" resizable="false" header="Values"
									widgetVar="dlg" showEffect="fold">

									<h:outputText value="Datetime:" />
									<h:outputText
										value="#{competitionsServicesBean.competition.dateFrom}">
										<f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
									</h:outputText>

								</p:dialog>

								<p:outputLabel for="datetimeTo" value="Date To:" />
								<p:calendar id="datetimeTo"
									value="#{competitionsServicesBean.competition.dateTo}"
									pattern="MM/dd/yyyy HH:mm:ss" />


								<p:dialog modal="true" resizable="false" header="Values"
									widgetVar="dlg" showEffect="fold">

									<h:outputText value="Datetime:" />
									<h:outputText
										value="#{competitionsServicesBean.competition.dateTo}">
										<f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
									</h:outputText>

								</p:dialog>
								<h:commandButton
									action="#{competitionsServicesBean.doUpdateCompetition()}"
									value="Edit Competition" />
							</h:panelGrid>
						</div>
						<div class="card-action">
							<h:link outcome="index" value="List Competitions" />
						</div>
						<div class="card-action">
							<h:link outcome="view" value="View Details"
								includeViewParams="true">
								<f:param name="competitionId"
									value="#{competitionsServicesBean.competition.id}"></f:param>
							</h:link>
						</div>
					</div>
				</div>
			</div>

		</h:form>

	</ui:define>
</ui:composition>