<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Forum Management</ui:define>
	<ui:define name="content">
		<div class="container" style="width: 90%;">
			<div class="row">
				<h:form>
					<nav class="nav-extended subject-forum-title-nav">
						<div class="nav-wrapper">
							<a href="#" class="brand-logo">Forum management</a>
							<ul class="right">
								<li><a style="color: transparent">a</a></li>
							</ul>
							<ul class="tabs tabs-transparent tabs-fixed-width">
								<li class="tab"><h:commandLink action="forumManagement?faces-redirect=true" value="Sections" /></li>
								<li class="tab"><h:commandLink styleClass="active" action="forumManagementTopics?faces-redirect=true" value="Topics" /></li>
								<li class="tab"><h:commandLink action="forumManagementReports?faces-redirect=true" value="Reports" /></li>
							</ul>
						</div>
					</nav>
				</h:form>
				<h:form>
					<div class="card" style="padding: 10px;">
						<div class="row">
							<h1>Topic</h1>
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>