<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Forum Management</ui:define>
	<ui:define name="content">

		<div class="container" style="width: 90%;">
			<div class="row">
				<h:form>
					<nav class="nav-extended subject-forum-title-nav">
						<div class="nav-wrapper">
							<a href="#" class="brand-logo">Forum management</a>
							<ul class="right">
								<li><a style="color: transparent">a</a></li>
							</ul>
							<ul class="tabs tabs-transparent tabs-fixed-width">
								<li class="tab"><h:commandLink styleClass="active" action="forumManagement" value="Sections" /></li>
								<li class="tab"><h:commandLink action="forumManagementTopics" value="Topics" /></li>
								<li class="tab"><h:commandLink action="forumManagementReports" value="Reports" /></li>
							</ul>
						</div>
					</nav>
				</h:form>
				<h:form>
					<div class="card" style="padding: 10px;">
						<div class="row">
							<div class="col s6">
								<h3>Sections</h3>
								<div class="card">
									<ul class="collection">
										<ui:repeat var="s"
											value="#{forumManagementBean.forumSections}">
											<h:commandLink value="#{s.title}"
												styleClass="collection-item">
												<f:setPropertyActionListener value="#{s}"
													target="#{forumManagementBean.currentSection}"></f:setPropertyActionListener>
											</h:commandLink>
										</ui:repeat>
										<h:commandLink styleClass="collection-item"
											action="#{forumManagementBean.addSection()}"
											value="Add a section">
											<i class="material-icons right"
												style="position: absolute; right: 10px;">add</i>
										</h:commandLink>
									</ul>
								</div>
							</div>
							<div class="col s6">
								<h3>Subjects</h3>
								<div class="card">
									<ul class="collection">
										<ui:repeat var="sub"
											value="#{forumManagementBean.currentSection.forumSubjects}">
											<li class="collection-item">#{sub.title}</li>
										</ui:repeat>
										<h:panelGroup rendered="#{forumManagementBean.currentSection.forumSubjects.size() == 0}">
											<li class="collection-item">No subjects</li>
										</h:panelGroup>
										<h:commandLink styleClass="collection-item"
											action="#{forumManagementBean.addSubject()}"
											value="Add a subject">
											<i class="material-icons right"
												style="position: absolute; right: 10px;">add</i>
										</h:commandLink>
									</ul>
								</div>
							</div>
						</div>
						<div class="row">
							<h:panelGroup rendered="#{forumManagementBean.addSectionShown}">
								<h2 class="center">Add a section</h2>
								<div class="col s12">
									<h:outputLabel for="title" value="Title" />
									<h:inputText id="title" value="#{forumManagementBean.addingSection.title}" />
								</div>
								<div class="col s12">
									<h:outputLabel for="desc" value="Description" />
									<h:inputText id="desc" value="#{forumManagementBean.addingSection.description}" />
								</div>
								<div class="col s6">
									<h:outputLabel for="icon" value="Icon" />
									<h:inputText id="icon" value="#{forumManagementBean.addingSection.icon}" />
								</div>
								<h:commandLink styleClass="col s12 waves-effect waves-light btn" action="#{forumManagementBean.addSection()}" value="Submit" />
							</h:panelGroup>
							<h:panelGroup rendered="#{!forumManagementBean.addSectionShown}">
								<h2 class="center">Add a Subject</h2>
								<div class="col s12">
									<h:outputLabel for="subject-title" value="Title" />
									<h:inputText id="subject-title" value="#{forumManagementBean.addingSubject.title}" />
								</div>
								<div class="col s12">
									<h:outputLabel for="subject-desc" value="Description" />
									<h:inputText id="subject-desc" value="#{forumManagementBean.addingSubject.description}" />
								</div>
								<h:commandLink styleClass="waves-effect waves-light btn" action="#{forumManagementBean.addSubject()}" value="Submit" />
							</h:panelGroup>
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</ui:define>

	<ui:define name="scripts">

		<h:outputScript>
            $(document).ready(function() { $('body > div.container').css('margin-left', '50px'); $('body > div.container').removeClass('container'); });
        </h:outputScript>

	</ui:define>

</ui:composition>