<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
                xmlns:p="http://primefaces.org/ui">
	<ui:define name="metadata">
		<f:metadata>
			<f:event
				listener="#{competitionsServicesBean.doFindAllCompetitions()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="title">List Competitions</ui:define>
	<ui:define name="content">
		
		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" layout="table" />
		<H1>List Competition</H1>

	  <h:form>
			<p:dataTable id="competition-table" class="competition-table"
				value="#{competitionsServicesBean.competitionList}"
				var="competition" rules="all" cellpadding="4" cellspacing="0">
				<p:column>
			  <f:facet name="header">
			  <h:outputText value="Theme"/>
			  </f:facet> 
			   <h:outputText value="#{competition.theme}"  />
			</p:column>
			<p:column>
			  <f:facet name="header">
			  <h:outputText value="Description"/>
			  </f:facet>
			   <h:outputText value="#{competition.descripiton}"  />
			</p:column>
			<p:column>
			  <f:facet name="header">
			  <h:outputText value="DateFrom"/>
			  </f:facet>
			   <h:outputText value="#{competition.dateFrom}" />
			</p:column>
			<p:column>
			  <f:facet name="header">
			  <h:outputText value="DateTo"/>
			  </f:facet>
			   <h:outputText value="#{competition.dateTo}" />
			</p:column>
			<p:column>
			  <f:facet name="header">
			  <h:outputText value="Witnesscard"/>
			  </f:facet>
			<h:outputText value="#{competition.witnesscard.name}" />
			</p:column>
				<p:column>
				<f:facet name="header">
			 		<h:outputText value="Action"/>
			  	</f:facet>
			  	<h:panelGroup class="action" >
					<h:commandLink value="Delete" action="#{competitionsServicesBean.doDeleteCompetition(competition)}" />
					
					<h:link outcome="view" value="View" includeViewParams="true">
	       				<f:param name="competitionId" value="#{competition.id}"></f:param>
	       			</h:link>
	       			
	       			<h:link outcome="Edit" value="Edit" includeViewParams="true">
	       				<f:param name="competitionId" value="#{competition.id}"></f:param>
	       			</h:link>
				</h:panelGroup>
			</p:column>
		</p:dataTable>
		<h:panelGrid styleClass="navTable">
			<h:link outcome="managecompetition" value="List of witnesscard" />
		</h:panelGrid>
		</h:form>
		
	</ui:define>
</ui:composition>