<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">

<ui:define name="title">List WitnessCards</ui:define>
	<ui:define name="content">
		<h:form>
			<h:dataTable value="#{witnessCardsServicesBean.witnesscards}" var="p"
				border="2">
				<h:column id="c1">
				<h:graphicImage value="#{p.picture}" />
					<f:facet name="header">
						<h:outputText value="Description" />
					</f:facet>
					<h:outputText value="#{p.description}" />
					<f:facet name="header">
						<h:outputText value="Actions" />
					</f:facet>
					<h:commandLink action="#{witnessCardsServicesBean.doCreateCom(p)}"
						value="Add competition" >
						<f:setPropertyActionListener value="#{p}" target="#{competitionsServicesBean.witnesscard}"></f:setPropertyActionListener>
					</h:commandLink>

				</h:column>
			</h:dataTable>
			<h:panelGrid styleClass="navTable">
			<h:link outcome="index" value="List of competitions" />
		</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>