<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">Sentimental Word Management</ui:define>
	<ui:define name="content">

		<h:form id="wordCreation" rendered="#{wordBean.displayWordUpdate}">
			<h:panelGrid columns="2">
				<h:outputText value="Name" />
				<h:inputText value="#{wordBean.word.name}" required="true" />
				<h:outputText value="Meaning" />
				<h:selectOneMenu value="#{wordBean.word.meaning}" >
					<f:selectItem itemLabel="please select"  />
					<f:selectItem itemValue="P" itemLabel="Positif"/>
					<f:selectItem itemValue="N" itemLabel="Negatif"/>
					<f:selectItem itemValue="M" itemLabel="Neutral"/>
				</h:selectOneMenu>
				<h:commandButton action="#{wordBean.doCreateOrUpdate()}"
					value="Update" />
				<h:commandButton action="#{wordBean.doDelete()}" value="Delete" />
				<h:commandButton action="#{wordBean.cancel()}" value="Cancel" />
			</h:panelGrid>
		</h:form>
		<h:form id="wordNew" rendered="#{wordBean.displayWordCreate}">
			<h:panelGrid columns="2">
				<h:outputText value="Name" />
				<h:inputText value="#{wordBean.word.name}" required="true"
					requiredMessage="Name must be set" />
				<h:outputText value="Meaning" />
				<h:selectOneMenu value="#{wordBean.word.meaning}" >
					<f:selectItem itemLabel="please select"  />
					<f:selectItem itemValue="P" itemLabel="Positif"/>
					<f:selectItem itemValue="N" itemLabel="Negatif"/>
					<f:selectItem itemValue="M" itemLabel="Neutral"/>
				</h:selectOneMenu>
				<h:commandButton action="#{wordBean.doCreateOrUpdate()}"
					value="Save" />
				

			</h:panelGrid>
		</h:form>
		
		<h:form rendered="#{wordBean.displayWordCreate}">
					<h:commandButton action="#{wordBean.cancel()}" value="Cancel" />
				</h:form>
		
		<h:form id="wordManage" rendered="#{wordBean.displayWordManage}">
			<h:dataTable value="#{wordBean.allWords}" var="p" border="2">
				<h:column id="name">
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:outputText value="#{p.name}" />
				</h:column>
				<h:column id="meaning">
					<f:facet name="header">
						<h:outputText value="Meaning" />
					</f:facet>
					<h:outputText value="#{p.meaning}" />
				</h:column>
				<h:column id="select">
					<f:facet name="header">
						<h:outputText value="Action" />
					</f:facet>
					<h:commandButton action="#{wordBean.doSelectWord()}" value="select">
						<f:setPropertyActionListener value="#{p}"
							target="#{wordBean.word}"></f:setPropertyActionListener>
					</h:commandButton>
				</h:column>
			</h:dataTable>
			<h:commandButton action="#{wordBean.doNewWord()}" value="NEW" />
		</h:form>
	</ui:define>
</ui:composition>