<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">Admin</ui:define>
	<ui:define name="content">
	 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">WitnessCards</a></li>
        <li class="tab col s2"><a  href="#test2">Categories</a></li>
        <li class="tab col s2"><a href="#test3">Ban User</a></li>
        <li class="tab col s2"><a href="#test4">Unban User </a></li>
        <li class="tab col s2"><a href="#test5">Promote User  </a></li>
        <li class="tab col s2"><a href="#test6">Demote Agent </a></li>
      </ul>
    </div>
    <div id="test1" class="col s12"><ui:include src="/pages/secure/admin/validateWitnessCard.xhtml" /></div>
    <div id="test2" class="col s12"><ui:include src="/pages/secure/admin/validateCategorie.xhtml" /></div>
    <div id="test3" class="col s12"><ui:include src="/pages/secure/admin/banUser.xhtml" /></div>
    <div id="test4" class="col s12"><ui:include src="/pages/secure/admin/unban.xhtml" /></div>
    <div id="test5" class="col s12"><ui:include src="/pages/secure/admin/assignAgentToWC.xhtml" /></div>
    <div id="test6" class="col s12"><ui:include src="/pages/secure/admin/demoteAgent.xhtml" /></div>
  </div>
		
	</ui:define>
</ui:composition>