<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<ui:repeat var="p" value="#{userServicesBean.bannedUsers}">
	<div align="right">
<div class="row" style="width:700px;height:200px;padding:40px;text-align: left" >
        <div class="col s12 m7" >
          <div class="card" >
            <div class="card-image">
              <h:graphicImage value="#{p.avatar}" />
             
            </div>
            <div class="card-content">
              <p>
             <b>Name :</b>  #{p.firstName}<br/>
             <b>LastName :</b>  #{p.lastName}<br/>
             <b>Status :</b>  #{p.status}<br/>
             <b>EndDate of BAN :</b>  #{p.endDate}<br/>
             <b>Reason of BAN :</b>  #{p.nbBadComments} bad comments<br/>
             
             
             </p>
            </div>
            <div class="card-action" style="text-align: center;">
              	<h:form> <h:commandLink action="#{userServicesBean.doUnbanUser()}" value="UNBAN" styleClass="waves-effect waves-light btn " ><f:setPropertyActionListener value="#{p}"
							target="#{userServicesBean.user}"></f:setPropertyActionListener></h:commandLink></h:form>
            </div>
          </div>
        </div>
      </div>
      </div>
      </ui:repeat>
</ui:composition>