
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ul class="collection with-header">
		<li class="collection-header"><h4>Categories</h4></li>
		<ui:repeat var="p" value="#{categorieServicesBean.categories}">
			<li class="collection-item"><div>
					<table>
						<tr>
							<td><i class="material-icons">camera</i>  #{p.name}</td>
							<td style="text-align: right"><h:form>
									<h:commandLink
										action="#{categorieServicesBean.doValidateCategorie()}">
										<i class="material-icons">check_circle</i>
										<f:setPropertyActionListener value="#{p}"
											target="#{categorieServicesBean.category}"></f:setPropertyActionListener>
									</h:commandLink>
									<h:commandLink
										action="#{categorieServicesBean.doDeleteCategorie()}">
										<i class="material-icons">delete</i>
										<f:setPropertyActionListener value="#{p}"
											target="#{categorieServicesBean.category}"></f:setPropertyActionListener>
									</h:commandLink>
								</h:form></td>
						</tr>
					</table>
				</div></li>
		</ui:repeat>
	</ul>

</ui:composition>
