<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	
		<ul class="collapsible" data-collapsible="accordion">
		<ui:repeat var="p" value="#{witnessCardsServicesBean.witnessCardsSTB}">
		
		<li>
				<div class="collapsible-header">
					<i class="material-icons">redeem</i>#{p.name}
				</div>
				<div class="collapsible-body">
				<div align="center" >
				<h:graphicImage value="#{p.picture}"  /></div>
					<p>#{p.description}</p>
					<table><tr><td style="text-align: right">
					<h:form>
									<h:commandLink
										action="#{witnessCardsServicesBean.doValidateWitnessCard()}"
										value="Validate" styleClass="waves-effect waves-light btn ">
										<f:setPropertyActionListener value="#{p}"
											target="#{witnessCardsServicesBean.witnesscard}"></f:setPropertyActionListener>
									</h:commandLink>
								</h:form>
							</td><td><h:form> <h:commandLink action="#{witnessCardsServicesBean.doDeleteWitnessCard()}" value="Delete" styleClass="waves-effect waves-light btn " ><f:setPropertyActionListener value="#{p}"
							target="#{witnessCardsServicesBean.witnesscard}"></f:setPropertyActionListener></h:commandLink></h:form>
				</td></tr></table></div>
			</li>
		</ui:repeat>
			
		</ul>
	
</ui:composition>