<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="competitionId"
				value="#{competitionsServicesBean.competition.id}" />
			<f:event
				listener="#{competitionsServicesBean.doFindCompetitionById()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
<ui:define name="title">View Competition</ui:define>
	<ui:define name="content">

		<h:messages errorStyle="color: red" infoStyle="color: green"
			layout="table" />
		<h1>Competition Details</h1>

		<h:form>
			<h:panelGrid columns="2" rules="all" styleClass="viewTable"
				columnClasses="column1, column2" rowClasses="oddRow, evenRow"
				cellspacing="0" cellpadding="2">
				<h:outputText value="theme:" />
				<h:outputText value="#{competitionsServicesBean.competition.theme}" />
				<h:outputText value="Description:" />
				<h:outputText
					value="#{competitionsServicesBean.competition.descripiton}" />
				<h:outputText value="DateFrom:" />
				<h:outputText
					value="#{competitionsServicesBean.competition.dateFrom}" />
				<h:outputText value="DateTo:" />
				<h:outputText value="#{competitionsServicesBean.competition.dateTo}" />
				<h:outputText value="WitnessCard:" />
				<h:outputText value="#{competitionsServicesBean.competition.witnesscard.name}" />

			<h:panelGrid styleClass="navTable">
				<h:link outcome="Edit" value="Edit" includeViewParams="true">
					<f:param name="competitionId"
						value="#{competitionsServicesBean.competition.id}"></f:param>
				</h:link>
				<h:link outcome="index" value="List Competitions" />

			</h:panelGrid>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>