<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="bank-ear">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="bank-web.war" deploy-path="/" handle="module:/resource/bank-web/bank-web">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="bank-ejb.jar" deploy-path="/" handle="module:/resource/bank-ejb/bank-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
